name: "Build"

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "Version of the release"
        type: string
      java:
        required: false
        description: "Java version"
        type: string
        default: "21"

  workflow_call:
    inputs:
      version:
        required: true
        description: "Version of the release"
        type: string
      java:
        required: false
        description: "Java version"
        type: string
        default: "21"

jobs:
  build:
    name: Build ${{ inputs.version }} for Java ${{ inputs.java }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ inputs.java }}
          cache: "maven"

      - name: Build Package
        run: |
          chmod +x ./scripts/package.sh
          ./scripts/package.sh \
            --version ${{ inputs.version }} \
            --java ${{ inputs.java }} \
            --ci \
            --clean \
            --output-dir .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ycsb-java${{ inputs.java }}
          path: |
            scylla-ycsb-${{ inputs.version }}-java${{ inputs.java }}.tar.gz
            scylla-ycsb-${{ inputs.version }}-java${{ inputs.java }}.tar.gz.sha256
          retention-days: 30
