name: "Release"

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  tag:
    name: Extract Version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Get Tag
        if: startsWith(github.ref, 'refs/tags/v')
        uses: olegtarasov/get-tag@v2.1.4
        id: version_tag
        with:
          tagRegex: "v(.*)"

  test:
    name: Run Tests
    needs: [tag]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "maven"

      - name: Run Tests
        run: |
          mvn -B test \
            -Dproject.build.sourceEncoding=UTF-8 \
            -DskipTests=false \
            -pl dynamodb,scylla -am

  build:
    name: Build Release
    needs: [tag, test]
    strategy:
      matrix:
        java: ["21"]
    uses: "./.github/workflows/build.yml"
    with:
      version: "${{ needs.tag.outputs.version }}"
      java: "${{ matrix.java }}"

  docker:
    name: Build Docker Image
    needs: [tag, test]
    uses: "./.github/workflows/docker.yml"
    with:
      version: "${{ needs.tag.outputs.version }}"
      java_version: "21"
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      REGISTRY: ${{ secrets.REGISTRY }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

  release:
    name: Create GitHub Release
    needs: [tag, docker, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ycsb-java21

      - name: List Artifacts
        run: ls -la

      - name: Create Release
        uses: softprops/action-gh-release@v2
        id: release
        with:
          make_latest: true
          name: "v${{ needs.tag.outputs.version }}"
          tag_name: "v${{ needs.tag.outputs.version }}"
          generate_release_notes: true
          append_body: true
          prerelease: false
          fail_on_unmatched_files: true
          files: |
            scylla-ycsb-${{ needs.tag.outputs.version }}-java21.tar.gz
            scylla-ycsb-${{ needs.tag.outputs.version }}-java21.tar.gz.sha256

      - name: Generate Changelog
        uses: heinrichreimer/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          author: true
          releaseUrl: ${{ steps.release.outputs.url }}
          issues: false
          pullRequests: true
