name: "Test"

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  MAVEN_OPTS: "-Xmx2g -XX:+UseG1GC"

jobs:
  test:
    name: Test (Java ${{ matrix.java }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: ["21"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "${{ matrix.java }}"
          cache: "maven"

      - name: Run Tests
        run: |
          mvn -B test \
            -Dproject.build.sourceEncoding=UTF-8 \
            -DskipTests=false \
            -pl dynamodb,scylla -am

  packaging:
    name: Build Package (Java ${{ matrix.java }})
    needs: [test]
    strategy:
      fail-fast: true
      matrix:
        java: ["21"]
    uses: "./.github/workflows/build.yml"
    with:
      version: "0.0.0-test"
      java: "${{ matrix.java }}"
